@model List<CMS.ViewModel.UserModel>

@if (Model.Count > 0)
{
    int counter = 0;
    foreach (var u in Model)
    {
        counter = counter + 1;
        <tr>
            <td style="text-align:center">
                <label class="pos-rel">
                    <input type="checkbox" class="checkboxItem" id="@u.Id" />
                </label>
            </td>
            <td class="text-center">@counter</td>
            <td><a onclick="CustomerDetail(@u.Id)">@u.UserName</a></td>
            <td>@u.FullName</td>
            <td class="text-center">
                @if (u.IsDelete == true)
                { <span class="label label-inverse">TK bị khóa</span>}
                else if (u.IsMember == true)
                { <span class="label label-warning arrowed-right arrowed-in">Kích hoạt</span>}
                else
                { <span class="label label-info arrowed">Chưa được duyệt</span>}
            </td>
            <td class="text-center">
                @if (u.EndTimePayment.Date == DateTime.MinValue.Date)
                {
                    <span style="color:deepskyblue">Chưa có gói cước</span>
                }
                else if (u.EndTimePayment.AddDays(-2) <= DateTime.Now && u.EndTimePayment > DateTime.Now)
                { 
                    <span style="color:orange">@u.EndTimePayment.ToString("dd/MM/yyyy")</span>
                }
                else if (u.EndTimePayment <= DateTime.Now)
                {
                    <span style="color:red">@u.EndTimePayment.ToString("dd/MM/yyyy")</span>
                }
                else
                {
                    <span style="color: mediumblue">@u.EndTimePayment.ToString("dd/MM/yyyy")</span>
                }
            </td>
            <td>@u.ManagerBy</td>
            @if (u.IsOnline == true)
            {
                <td class="text-center"><span class="badge badge-success">online</span></td>
            }
            else
            {
                <td class="text-center"><span class="badge badge-grey">offline</span></td>
            }
            <td>@u.RoleName</td>
            <td class="text-center">
                <div class="hidden-sm hidden-xs action-buttons">
                    <a class="green" href="/Customer/Edit/@u.Id">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>
                    <a class="green" href="/Customer/ResertPassword/@u.Id">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <div class="hidden-md hidden-lg">
                    <div class="inline position-relative">
                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="/Customer/Edit/@u.Id" class="tooltip-success" data-rel="tooltip" title="Sửa">
                                    <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    }
}
