@model CMS.ViewModel.CustomerDetail

@if (Model != null)
{
    <h3 class="header smaller lighter blue">Thông tin chi tiết</h3>
    <div style="padding-bottom: 1%; padding-left: 91%;">
        <button onclick="ExportExcel(@Model.UserId); return false;" class="btn btn-sm btn-danger btnexport btn-small">
            <i class="icon-download-alt bigger-125"></i>
            Xuất Excel
        </button>
    </div>
    <div class="col-md-6 form" role="form">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Họ tên :</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.FullName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Số điện thoại</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.UserName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Quản lý bởi</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.ManagerBy</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 form" role="form">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Hết hạn</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.TimeEnd </span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Số dư</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.Amount vnđ</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <label>Login cuối</label>
                </div>
                <div class="profile-info-value">
                    <span>@Model.LastLogin </span>
                </div>
            </div>
        </div>
    </div>
}