@using System
@using System.Linq
@model CMS.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="row">
        @*<div class="search_all">*@
        @*<label class="col-xs-1 lblsearch">Tìm kiếm: </label>*@
        <div class="col-xs-12 lo-paging-0">
            <div class="col-md-2"></div>
            <div class="input-group col-xs-12 col-md-8 lo-paging-0">
                <input class="form-control txtsearchkey" placeholder="Nhập nội dung cần tìm..." type="text" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'") />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-inverse btn-white btnsearch" style="background-color: #4267b2 !important; color: white !important;" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'")>
                        <span class="ace-icon fa fa-search icon-on-right bigger-110 searchicon"></span>
                        Tìm
                    </button>
                </span>
            </div>
        </div>

        @*</div>*@
        <div class="space"></div>
        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h6 class="widget-title"> <i class="icon-filter"></i> Lọc tin Bất Động Sản</h6>

                <div class="widget-toolbar widget-color-dark">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-4">
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="row" style="margin-top: 20px; display: inline-block;">
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Chuyên mục</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            @if (Convert.ToBoolean(ViewBag.Accept))
                                            {
                                                @Html.DropDownListFor(m => m.CategoryId, Model.ListCategory, new { @class = "form-control col-xs-10 cateId" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.CategoryId, Model.ListCategory, new { @class = "form-control col-xs-10 cateId", @disabled = "disabled" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Quận huyện</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            @if (Convert.ToBoolean(ViewBag.Accept))
                                            {
                                                @Html.DropDownListFor(m => m.DistricId, Model.ListDistric, new { @class = "form-control col-xs-10 districtId" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.DistricId, Model.ListDistric, new { @class = "form-control col-xs-10 districtId", @disabled = "disabled" })
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Loại tin</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            @if (Convert.ToBoolean(ViewBag.Accept))
                                            {
                                                @Html.DropDownListFor(m => m.NewsType, Model.ListStatus, new { @class = "form-control col-xs-10 newTypeId" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.NewsType, Model.ListStatus, new { @class = "form-control col-xs-10 newTypeId", @disabled = "disabled" })
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Theo ngày</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            <select class="form-control col-xs-10 ddlbackdate" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'")>
                                                <option value="-1">Theo ngày</option>
                                                <option value="0">Hôm nay</option>
                                                <option value="2">2 Ngày trước</option>
                                                <option value="3">3 Ngày trước</option>
                                                <option value="5">5 Ngày trước</option>
                                                <option value="7">7 Ngày trước</option>
                                                <option value="15">15 Ngày trước</option>
                                                <option value="30">30 Ngày trước</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label col-xs-4">Từ ngày</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            <input class="form-control date-picker txtFrom" type="text" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'") />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label ">Đến ngày</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            <input class="form-control date-picker txtTo" type="text" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'") />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Theo giá</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            <select class="form-control col-xs-10 ddlprice" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'")>
                                                <option value="">Tất cả</option>
                                                <option value="0+1000000">&lt; 1 triệu</option>
                                                <option value="1000000+5000000">1 - 5 triệu</option>
                                                <option value="5000000+10000000">5 - 10 triệu</option>
                                                <option value="10000000+50000000">10 - 50 triệu</option>
                                                <option value="50000000+100000000">50 - 100 triệu</option>
                                                <option value="100000000+500000000">100 - 500 triệu</option>
                                                <option value="500000000+1000000000">500 triệu - 1 tỷ</option>
                                                <option value="1000000000+5000000000">1 - 5 tỷ</option>
                                                <option value="5000000000+10000000000">5 - 10 tỷ</option>
                                                <option value="10000000000+-1">&gt; 10 tỷ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-5">
                                            <label class="control-label" for="form-field-1">Nguồn tin</label>
                                        </div>
                                        <div class="input-group col-xs-7">
                                            @if (Convert.ToBoolean(ViewBag.Accept))
                                            {
                                                if (!Convert.ToBoolean(ViewBag.User))
                                                {
                                                @Html.DropDownListFor(m => m.SiteId, Model.ListSite, new { @class = "form-control col-xs-10 siteId" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(m => m.SiteId, Model.ListSite, new { @class = "form-control col-xs-10 siteId", @disabled = "disabled" })
                                                }
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.SiteId, Model.ListSite, new { @class = "form-control col-xs-10 siteId", @disabled = "disabled" })
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="control-group">
                                        <div class="col-xs-6 col-md-5">
                                            @*<label class="control-label">Hiển thị tin trùng</label>*@
                                        </div>
                                        <div class="input-group col-xs-6 col-md-7" style="top: 7px; padding-right: 0;">
                                            <input id="chkIsrepeatNews" type="hidden" value="0" class="ace ace-switch ace-switch-6" @(Convert.ToBoolean(ViewBag.Accept) ? string.Empty : "disabled = 'disabled'") />
                                            <span class="lbl middle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="hd-fuc">
            <div class="col-md-9 col-xs-12 btn-area-action">
                <button class="btn btn-sm btn-primary btn-blue btnsave disabled">
                    <i class="icon-save bigger-125"></i>
                    Lưu tin
                </button>
                <button class="btn btn-sm btn-default btnhide disabled">
                    <i class="icon-eye-close bigger-125"></i>
                    Ẩn tin
                </button>

                @if (!Convert.ToBoolean(ViewBag.User))
                {
                    <button class="btn btn-sm btn-danger btndelete disabled">
                        <i class="icon-trash bigger-125"></i>
                        Xóa tin
                    </button>
                    <button class="btn btn-sm btn-info btn-blue btncc disabled">
                        <i class="icon-user bigger-125"></i>
                        Chính chủ
                    </button>
                    <button class="btn btn-sm btn-danger btnspam disabled">
                        <i class="icon-warning-sign bigger-125"></i>
                        Chặn tin
                    </button>
                }
                <button class="btn btn-sm btn-success btnexport">
                    <i class="icon-download-alt bigger-125"></i>
                    Xuất Excel
                </button>
            </div>
            <div class="col-md-3 col-xs-12 viewpage">
                <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">
                    @*Hiển thị <span class="fistrecord">@((Model.pageIndex - 1) * Model.pageSize)</span>  tới <span class="endrecord">@((Model.pageIndex * Model.pageSize) <= Model.Total ? (Model.pageIndex * Model.pageSize) : Model.Total)</span> trong <span class="totalrecord">@(Model.Total)</span> tin*@
                    Tổng số tin : <span class="totalrecord">@(Model.Total)</span>
                </div>
            </div>
        </div>
        @*<h3 class="header h3-header smaller lighter blue"></h3>*@
        <div class="dataTables_wrapper form-inline no-footer table-responsive">
            <table id="listnewstable" class="table table-striped table-bordered table-hover custom-table">
                <thead>
                    <tr>
                        <th class="center order">
                            <input type="checkbox" id="check-all" />
                            <span class="lbl"></span>
                        </th>
                        <th data-name="Title">Tiêu đề</th>
                        <th>Quận huyện</th>
                        <th style="min-width: 105px;" data-name="CreatedOn">Ngày đăng</th>
                        <th style="min-width: 105px;" data-name="Price">Giá</th>
                        <th style="text-align: center">Điện thoại</th>
                        <th style="text-align: center" data-name="StatusId">Loại tin</th>
                        @*<th>Nguồn tin</th>*@
                        <th class="tdcc" data-name="Iscc">Xác minh</th>
                        <th>Sửa</th>
                        @*<th class="tdcenter">Kiểm tra</th>
                            <th class="tdcenter">Span</th>*@
                        @*<th style="text-align: center">Tính năng</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListNew.Any())
                    {
                        foreach (var item in Model.ListNew)
                        {
                            bool check = false;
                            var cookie = Request.Cookies["NewsViewd"];
                            if (cookie != null)
                            {
                                if (cookie.Value.ToString().Contains(item.Id.ToString()))
                                {
                                    check = true;
                                }
                            }
                            <tr style="@(check ? "color: #bf983b;" : string.Empty)">
                                <td>
                                    <label class="pos-rel">
                                        <input type="checkbox" class="checkboxItem" id="@item.Id" />
                                    </label>
                                </td>
                                <td>
                                    @{
                                        var title = Convert.ToBoolean(ViewBag.Accept) ? CMS.Helper.Utils.RemoveHtml(item.Contents).Trim() : "Bạn vui lòng nạp thêm tiền để xem chi tiết nội dung tin!";
                                    }
                                    <span data-id="@item.Id" class="lbltitle" @Html.Raw("title=\"" + CMS.Helper.Utils.RemoveHtml(title) + "\"")>
                                        @Html.Raw(CMS.Helper.Utils.RemoveHtml(item.Title))
                                    </span>
                                </td>
                                <td class="td-medium">
                                    @if (Convert.ToBoolean(ViewBag.Accept))
                                    {
                                        <span>@item.DistictName</span>
                                    }
                                    else
                                    {
                                        <span class="error">Vui lòng nạp tiền</span>
                                    }
                                </td>
                                <td class="td-small">@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
                                <td class="td-medium">@item.PriceText</td>
                                <td class="td-small" style="text-align: center;">
                                    @if (Convert.ToBoolean(ViewBag.Accept))
                                    {
                                        <span>@Html.Raw(item.Phone.Replace(",", ", ").Trim())</span>
                                    }
                                    else
                                    {
                                        <span class="error">Vui lòng nạp tiền</span>
                                    }
                                </td>
                                <td class="td-medium" style="max-width: 95px;">@Html.Raw(item.StatusName)</td>
                                @*<td>
                                        @if (Convert.ToBoolean(ViewBag.Accept))
                                        {
                                            <a href="@item.Link" target="_blank" title="@item.Title"><label style="cursor:pointer;">@item.SiteName</label> </a>
                                        }
                                        else
                                        {
                                            <span class="error">Vui lòng nạp tiền</span>
                                        }
                                    </td>*@
                                <td class="tdcc @item.Id">
                                    @if (item.Iscc)
                                    {
                                        <span style="color:red">Chính chủ</span>
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (!Convert.ToBoolean(ViewBag.User))
                                    {
                                        <a class="green edit-item-list_adm" href="javascript:;" data-id="@item.Id">
                                            <i class="icon-edit bigger-130 "></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="10" style="text-align: center"><strong>Chưa có dữ liệu</strong></td>
                                            </tr>
                                        }
                </tbody>
            </table>
            <input type="hidden" id="datatable" data-total="@Model.Totalpage" data-totalrecord="@Model.Total" data-page="1" />

        </div>

        <div class="pagecus">
            @if (Model.Totalpage > 1)
            {
                <div class="row page-home lo-paging">
                    <div class="col-xs-12 col-md-4">
                        <div class="dataTables_length">
                            <label>
                                Hiển thị
                                <select class="ddlpage">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                </select>
                                tin
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 lo-paging-0">
                        <div class="dataTables_paginate homepagging ">
                            <div class="pagination" id="pagination"></div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<div id="modaldetail"></div>
<div id="modaledit"></div>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/ckeditor/ckeditor.js"></script>

@*Custom script*@
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/home/home.js"></script>
<script src="~/Scripts/news/editnews.js"></script>