@model CMS.ViewModel.HomeViewModel
<div class="modal fade" id="newsedit" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header customheader">
                <h3><i class="fa fa-edit"></i> Chỉnh sửa nội dung tin</h3>
                <button type="button" class="close btnclose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Danh mục tin (<span class="requied">*</span>)</label>

                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.CategoryId, Model.ListCategory, new { @class = "col-xs-12 col-sm-12 ddlfrm cateId" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Quận huyện (<span class="requied">*</span>)</label>

                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.DistricId, Model.ListDistric, new { @class = "col-xs-12 col-sm-12 ddlfrm districtId" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Điện thoại (<span class="requied">*</span>)</label>

                            <div class="col-sm-9">
                                <input type="text" id="txtphone" placeholder="Nhập vào số điện thoại" name="phone" value="@Model.NewsItem.Phone" class="col-xs-12 col-sm-12 ddlfrm txtphone" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Giá (<span class="requied">*</span>)</label>

                            <div class="col-sm-9">
                                <input type="text" id="txtprice" placeholder="Nhập vào giá" name="price" value="@CMS.Helper.Utils.FormatPrice(Model.NewsItem.Price)" class="col-xs-12 col-sm-12 ddlfrm txtprice" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Tiêu đề tin (<span class="requied">*</span>) </label>

                            <div class="col-sm-9">
                                <input type="text" id="txttitle" placeholder="Nhập vào tiêu đề tin" name="title" value="@Model.NewsItem.Title" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right lo-txt-left" for="form-field-1"> Nội dung (<span class="requied">*</span>)</label>

                            <div class="col-sm-9">
                                @*<textarea class="col-sm-12 col-xs-12" id="txtcontent" name="txtcontent">
                                    @Model.NewsItem.Contents
                                </textarea>*@
                                <div class="wysiwyg-editor" id="txtcontent">
                                    @Html.Raw(Model.NewsItem.Contents)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pugrbtnclose">
                    <button type="button" class="btn btn-sm btn-success btneditnews">Cập nhật</button>
                    <button type="button" class="btn btn-sm btn-inverse btnclose">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<style>
    #txtcontent {
        overflow: scroll;
        max-height: 300px;
        width: 100%;
    }
    .wysiwyg-toolbar {
        padding: 0 20px;
    }
    .wysiwyg-toolbar .btn-group > .btn > .ace-icon:first-child {
        padding: 0; 
        margin: auto;
    }
</style>
<script>
    function showErrorAlert(reason, detail) {
        var msg = '';
        if (reason === 'unsupported-file-type') { msg = "Unsupported format " + detail; }
        else {
            //console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
		 '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
    }

    $('#txtcontent').ace_wysiwyg({
        toolbar:
		[
			'font',
			null,
			'fontSize',
			null,
			{ name: 'bold', className: 'btn-info' },
			{ name: 'italic', className: 'btn-info' },
			{ name: 'underline', className: 'btn-info' },
			null,
			{ name: 'insertunorderedlist', className: 'btn-success' },
			{ name: 'insertorderedlist', className: 'btn-success' },
			{ name: 'outdent', className: 'btn-purple' },
			{ name: 'indent', className: 'btn-purple' },
			null,
			{ name: 'justifyleft', className: 'btn-primary' },
			{ name: 'justifycenter', className: 'btn-primary' },
			{ name: 'justifyright', className: 'btn-primary' },
			{ name: 'justifyfull', className: 'btn-inverse' },
			null,
			{ name: 'insertImage', className: 'btn-success' },
			null,
			'foreColor',
			null,
			{ name: 'undo', className: 'btn-grey' },
			{ name: 'redo', className: 'btn-grey' }
		],
        'wysiwyg': {
            fileUploadError: showErrorAlert
        }
    }).prev().addClass('wysiwyg-style2');

</script>