@model CMS.ViewModel.CategoryModel
@{
    ViewBag.Title = "Thêm mới chức năng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured
{
    @using (Html.BeginForm("Create", "Category", FormMethod.Post))
    {

        @Html.ValidationSummary(true)
        <div class="page-content">
            <div class="page-content-area">
                <div class="page-header">
                    <h1 class="page-title">@ViewBag.TitleForm</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger message-box ">
                                <strong>Lỗi:</strong> @TempData["Error"].ToString()
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success message-box ">
                                <strong>Thông báo:</strong> @TempData["Success"].ToString()
                            </div>
                        }
                        <div class="form col-md-6" role="form">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                            <div class="form-group">
                                <label>Thuộc chức năng</label>
                                @Html.DropDownListFor(m => m.CategoryId, Model.SelectListItem, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.Active)
                                <label>Hoạt động</label>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Thêm mới
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Hủy bỏ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
