@model List<CMS.Models.NewsModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr style="@(Convert.ToBoolean(item.CusIsReaded) ? "color: #c55f05;" : string.Empty)">
            <td>
                <label class="pos-rel">
                    <input type="checkbox" class="checkboxItem" id="@item.Id" />
                </label>
            </td>
            <td>
                <span data-id="@item.Id" class="lbltitle" title="@item.Contents">
                    @item.Title
                </span>
            </td>
            <td class="td-medium">
                @if (Convert.ToBoolean(ViewBag.Accept))
                {
                    <span>@item.DistictName</span>
                }
                else
                {
                    <span class="error">Vui lòng nạp tiền</span>
                }
            </td>
            <td class="td-small">@(Convert.ToDateTime(item.CreatedOn).ToString("dd-MM-yyyy"))</td>
            <td class="td-medium">@item.PriceText</td>
            <td class="td-small">
                @if (Convert.ToBoolean(ViewBag.Accept))
                {
                    <span>@item.Phone.Replace(",", ", ").Trim()</span>
                }
                else
                {
                    <span class="error">Vui lòng nạp tiền</span>
                }
            </td>

            <td class="td-medium" style="max-width: 95px;">@Html.Raw(item.StatusName)</td>
            <td style="text-align: center">
                @if (Convert.ToBoolean(item.CusIsReaded))
                {
                    <span class="label label-warning arrowed-right arrowed-in">Đã xem</span>
                }
                else
                {
                    <span class="label label-info arrowed">Chưa xem</span>

                }
            </td>
            <td style="text-align: center">
                <img src="~/assets/images/approved.gif" />
            </td>
            @*<td class="td-actions">
                <div class="hidden-phone visible-desktop action-buttons">
                    <a class="blue detail-item-list" href="javascript:;" title="Xem chi tiết" data-id="@item.Id">
                        <i class="icon-zoom-in bigger-130"></i>
                    </a>
                    <a class="green save-item-list" href="javascript:;" title="Lưu tin" data-id="@item.Id">
                        <i class="icon-save bigger-130"></i>
                    </a>
                    <a class="orange remove-hide-item-list" href="javascript:;" title="Bỏ ẩn tin" data-id="@item.Id">
                        <i class="icon-eye-open bigger-130"></i>
                    </a>
                    @if (item.IsAdmin)
                    {
                        <a class="red spam-item-list" href="javascript:;" title="Chặn môi giới" data-id="@item.Id">
                            <i class="icon-warning-sign bigger-130"></i>
                        </a>
                    }
                    else
                    {
                        <a class="red report-item-list" href="javascript:;" title="Báo môi giới" data-id="@item.Id">
                            <i class="icon-warning-sign bigger-130"></i>
                        </a>
                    }
                </div>
            </td>*@
        </tr>
    }
}
else
{
    <tr>
        <td colspan="10" style="text-align: center"><strong>Chưa có dữ liệu</strong></td>
    </tr>
}