@model CMS.ViewModel.PaymentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CMS.Data
@{
    Notify noti = new Notify();
    if (TempData["Notify"] != null)
    {
        noti = (Notify)TempData["Notify"];
    }
}
<script src="~/scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="http://www.decorplanit.com/plugin/autoNumeric-1.9.18.js"></script>
@section header{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#txtUserName").focusout(function () {
                $("#datatable1 > tbody").html("");
                callAjax(0);
            });
            //send notify

            var notifyId = $('#noti-id').val();
            if (notifyId != 0) {
                var notify = {};
                notify.title = $('#noti-title').val();
                //notify id
                notify.id = notifyId;
                notify.type = 3;
                //user name
                notify.name = $('#noti-user-name').val();
                //link image avatar
                notify.avatar = "/assets/avatars/avatar.png";
                notify.time = $('#noti-time').val();
                notify.userId = $('#noti-user-id').val();
                //connect notify server
                var socket = io.connect('http://ozo.vn:8010');
                socket.emit('send-to-user', notify);
            }
        });

        $(function ($) {
            $('#txtNumber').autoNumeric('init', { lZero: 'deny', aSep: ',', mDec: 0, vMin: -10000000 });
        });
        var a = 1;
        function LoadMore() {
            callAjax(a);
            a++;
            return false;
        }
        var count = 1;
        function callAjax(page) {
            $.ajax({
                type: "GET",
                url: "/Payment/GetHistory",
                data: { UserName: $("#txtUserName").val(), Page: page },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, item) {
                        $('<tr>').append(
                        $('<td>').text(count),
                        $('<td>').text(item.DateString),
                        $('<td>').text(item.PaymentMethod),
                        $('<td>').text(item.Amount),
                        $('<td>').text(item.Notes)).appendTo('#datatable1 > tbody');
                        count++;
                    });
                },
                error: function (response) {
                    debugger;
                    alert('eror');
                }
            });
        }
    </script>
}
@section featured
{
    @using (Html.BeginForm("Index", "Payment", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="page-content">
            <div class="page-content-area">
                <div class="row">
                    <div class="col-xs-12">
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger message-box ">
                                <strong>Lỗi:</strong> @TempData["Error"].ToString()
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success message-box ">
                                <strong>Thông báo:</strong> @TempData["Success"].ToString()
                            </div>
                        }
                        <h3 class="header smaller lighter blue">@ViewBag.TitleForm</h3>
                        <div class="form col-md-6" role="form">
                            <div class="form-group">
                                <label>Hình thức thanh toán</label>
                                @Html.DropDownListFor(m => m.PaymentMethodId, Model.PayMethodList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Nhập tài khoản</label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "txtUserName" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="form-group">
                                <label>Nhập số tiền</label>
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @id = "txtNumber" })
                                @Html.ValidationMessageFor(m => m.Amount)
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Note)
                            </div>
                        </div>
                        <div class="col-md-12 footer-button">
                            <button type="submit" class="btn btn-primary btn-sm">Thêm mới</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header smaller lighter blue">Lịch sử giao dịch</h3>
                        <div class="table-header">
                            Lịch sử
                        </div>
                        <table id="datatable1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày giao dịch</th>
                                    <th>Loại giao dịch</th>
                                    <th>Số tiền giao dịch</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div>
                            <a href="#" onclick="return LoadMore();">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<input type="hidden" value="@noti.Title" id="noti-title" />
<input type="hidden" value="@noti.Id" id="noti-id" />
<input type="hidden" value="@noti.Type" id="noti-type" />
<input type="hidden" value="@noti.UserName" id="noti-user-name" />
<input type="hidden" value="@noti.DateSend" id="noti-time" />
<input type="hidden" value="@noti.SendTo" id="noti-user-id" />