@model List<CMS.ViewModel.UserModel>

@if (Model.Count > 0)
{
    int counter = 0;
    foreach (var u in Model)
    {
        counter = counter + 1;
        <tr>
            <td>@counter</td>
            <td>@u.FullName</td>
            <td><a onclick="AdminDetail(@u.Id)">@u.UserName</a></td>
            <td>
                @if (u.IsDelete == true)
            { <span class="label label-inverse">TK bị khóa</span>}
            else if (u.IsMember == true)
            { <span class="label label-warning arrowed-right arrowed-in">Kích hoạt</span>}
            else
            { <span class="label label-info arrowed">Chưa được duyệt</span>}
        </td>
        <td>@u.ManagerBy</td>
        <td>@u.RoleName</td>
        <td class="text-center">
            <div class="hidden-sm hidden-xs action-buttons">
                <a class="green" href="/User/Edit/@u.Id">
                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                </a>
                <a class="green" href="/User/ResertPassword/@u.Id">
                    <i class="fa fa-refresh"></i>
                </a>
                <a class="red" href="/User/RemoveUser/@u.Id">
                    <i class="fa fa-ban" title="Chặn tài khoản"></i>
                </a>
            </div>
            <div class="hidden-md hidden-lg">
                <div class="inline position-relative">
                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                        <li>
                            <a href="/User/Edit/@u.Id" class="tooltip-success" data-rel="tooltip" title="Sửa">
                                <span class="green">
                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/ResertPassword/@u.Id" class="tooltip-success" data-rel="tooltip" title="Khôi phục mật khẩu">
                                <span class="green">
                                    <i class="fa fa-refresh"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltip-error delete-selected" data-rel="tooltip" title="Xóa" data-toggle="modal" data-target="#confirm-delete" data-id="@u.Id">
                                <span class="red">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    }
}
