@model CMS.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section featured
{
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-users"></i> <a href="#">Quản lý người dùng</a></li>
                <li><a href="/User/Index">Người dùng</a></li>
                <li class="active">Đổi mật khẩu</li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-content-area">
                <div class="row">
                    <div class="col-xs-12">
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger message-box ">
                                <strong>Lỗi:</strong> @TempData["Error"].ToString()
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success message-box ">
                                <strong>Thông báo:</strong> @TempData["Success"].ToString()
                            </div>
                        }
                        <h3 class="header smaller lighter blue">Đổi mật khẩu</h3>
                        <div class="form col-md-6" role="form">
                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="col-md-12 footer-button">
                            <button type="submit" class="btn btn-flat btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}




