@model CMS.ViewModel.UserViewModel
@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.delete').click(function (e) {
                e.preventDefault();
                $(".delete-selected").removeClass("delete-selected");
                $(this).addClass("delete-selected");
            });
            $('#submitDelete').click(function () {
                debugger;
                var id = $('.delete-selected').data("id");
                document.location.href = '/User/RemoveUser/' + id;
            });

            //phân trang
            var totalpage = parseInt($('#TotalPage').attr("data-total"));
            debugger;
            if (totalpage > 1) {
                $('#pagination').twbsPagination({
                    totalPages: totalpage,
                    visiblePages: 5,
                    first: 'Trang đầu',
                    prev: 'Trước',
                    next: 'Tiếp',
                    last: 'Trang cuối',
                    onPageClick: function (event, page) {
                        $.LoadingOverlay("show");
                        var search = $('#Seach').val();
                        var pageIndex = page;

                        var data = {
                            search: search, pageIndex: pageIndex
                        };
                        $.post("/User/LoadData", data, function (resp) {
                            if (resp != null) {
                                debugger
                                $("#datatable1 tbody").html("");
                                $("#datatable1 tbody").html(resp.Content);
                                if (resp.TotalPage > 1) {
                                    $(".page-home").show();
                                } else {
                                    $(".page-home").hide();
                                }
                                $('#TotalPage').attr("data-total", resp.TotalPage);
                                $('#TotalPage').attr("data-page", page);
                                $.LoadingOverlay("hide");
                            }
                        });
                    }
                });
            }

            //search data
            $('#Seach').focusout(function () {
                $.LoadingOverlay("show");
                var search = $('#Seach').val();
                var pageIndex = 1;

                var data = {
                    search: search, pageIndex: pageIndex
                };
                $.post("/User/LoadData", data, function (resp) {
                    if (resp != null) {
                        debugger
                        $("#datatable1 tbody").html("");
                        $("#datatable1 tbody").html(resp.Content);
                        if (resp.TotalPage > 1) {
                            $(".page-home").show();
                            showPagination(resp.TotalPage);
                        } else {
                            $(".page-home").hide();
                        }
                        $.LoadingOverlay("hide");
                    }
                });
            });
        });

        function showPagination(totalpage) {
            $('#pagination').remove();
            $('.homepagging').html('<div class="pagination" id="pagination"></div>');
            $('#pagination').twbsPagination({
                totalPages: totalpage,
                visiblePages: 5,
                first: 'Trang đầu',
                prev: 'Trước',
                next: 'Tiếp',
                last: 'Trang cuối',
                onPageClick: function (event, page) {
                    $.LoadingOverlay("show");
                    var search = $('#Seach').val();
                    var pageIndex = page;

                    var data = {
                        search: search, pageIndex: pageIndex
                    };
                    $.post("/User/LoadData", data, function (resp) {
                        if (resp != null) {
                            debugger
                            $("#datatable1 tbody").html("");
                            $("#datatable1 tbody").html(resp.Content);
                            if (resp.TotalPage > 1) {
                                $(".page-home").show();
                            } else {
                                $(".page-home").hide();
                            }
                            $('#TotalPage').attr("data-total", resp.TotalPage);
                            $('#TotalPage').attr("data-page", page);
                            $.LoadingOverlay("hide");
                        }
                    });
                }
            });
        }
    </script>
}
@section menu{
}
@section featured{
    <div class="page-content">
        <div class="page-content-area">
            <div class="row">
                <div class="col-xs-12">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger message-box ">
                            <strong>Lỗi:</strong> @TempData["Error"].ToString()
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success message-box ">
                            <strong>Thông báo:</strong> @TempData["Success"].ToString()
                        </div>
                    }
                    <h3 class="header smaller lighter blue">@ViewBag.TitleForm</h3>
                    <div class="table-header">
                        Danh sách nhân viên
                        <div class="widget-toolbar">
                            <div class="widget-menu">
                                <a class="white" href="/User/Create" title="Thêm nhân viên">
                                    <i class="ace-icon fa fa-plus-square bigger-130"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="datatable1_wrapper" class="dataTables_wrapper form-inline no-footer">
                        <div class="row">
                            <div class="col-xs-6">
                            </div><div class="col-xs-6"><div id="datatable1_filter" class="dataTables_filter"><label>Tìm:<input type="search" id="Seach" class="form-control input-sm" aria-controls="datatable1"></label></div></div>
                        </div>
                        <table id="datatable1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center">STT</th>
                                    <th>Tên nhân viên</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Số điện thoại</th>
                                    <th>Trạng thái</th>
                                    <th>Quản lý bởi</th>
                                    <th>Nhóm quyền</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                        <input type="hidden" id="TotalPage" data-total="@Model.Totalpage" data-page="1" />
                        @if (Model.Totalpage > 1)
                        {
                            <div class="row page-home">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-8">
                                    <div class="dataTables_paginate paging_simple_numbers homepagging">
                                        <div class="pagination" id="pagination"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Xác nhận xóa dữ liệu</h4>
                </div>
                <div class="modal-body">
                    <p>@CMS.Helper.Messages_Contants.DELETE_MESSAGE</p>
                    <p>Bạn có chắc chắn xóa dữ liệu này</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok" id="submitDelete">OK</button>
                </div>
            </div>
        </div>
    </div>
}
