@model CMS.ViewModel.NewsReportModel


<h3 class="header smaller lighter blue">Nội dung tin mô giới</h3>
<div class="form col-md-6" role="form">
    @Html.HiddenFor(x=>x.NewsId)
    <div class="form-group">
        <label style="color: blue;font-weight: bold;">Tiêu đề: </label>
        <label> @Model.Notes</label>
    </div>
    <div class="form-group">
        <label style="color: blue;font-weight: bold;">Người báo mô giới: </label>
        <label>@Html.Raw(Model.Users)</label>
    </div>
    <div class="form-group">
        <label style="color: blue;font-weight: bold;">Ngày báo mô giới: </label>
        <label>@Model.CreateDate</label>
    </div>
</div>
<div class="form col-md-6" role="form">
    <div class="form-group">
        <label style="color: blue;font-weight: bold;">Nội dung chi tiết: </label>
        <label>@Html.Raw(Model.Description)</label>
    </div>
    <div class="form-group">
        <label style="color: blue;font-weight: bold;">Số điện thoại: </label>
        <label>@Html.Raw(Model.Phone)</label>
    </div>
</div>
<div class="col-md-12 footer-button">
    <button class="btn btn-primary" onclick="DeleteReportNews(); return false;">Chặn mô giới</button>
    <button class="btn btn-primary" onclick="CancelReportNews(); return false;">Không phải tin mô giới</button>
</div>