@model CMS.Models.NewsModel

<div class="modal fade" id="newsdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog custommodal" role="document">
        <div class="modal-content">
            <div class="modal-header customheader">
                <h3><i class="fa fa-search-plus"></i> Nội dung chi tiết tin</h3>
                <button type="button" class="close btnclose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 mCustomScrollbar">
                        <h5><strong>Tiêu đề: </strong> @Model.Title</h5>
                        <h5><strong>Nội dung :</strong></h5>
                        <p>
                            @Html.Raw(@Model.Contents)
                        </p>
                    </div>
                    <div class="col-xs-4 modal-detail-right">
                        <h5><strong>Giá: </strong> <span class="modal-price"> @Model.PriceText</span></h5>
                        <h5><strong>Liên hệ: </strong> @Model.Phone</h5>
                        <h5><strong>Ngày đăng: </strong> @Convert.ToDateTime(Model.CreatedOn).ToString("dd-MM-yyyy")</h5>
                        <h5><strong>Loại tin: </strong> @Model.StatusName</h5>
                        <h5><strong>Danh mục: </strong> @Model.CateName</h5>
                        <h5><strong>Khu vực: </strong> @Model.DistictName</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-11 btn-modal">
                    <button type="button" class="btn btn-success hide-item-list" data-id="@Model.Id" data-userid="@Model.CusId"><i class="fa fa-recycle"></i> Khôi phục tin</button>                  
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btnclose">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
