@model CMS.Models.NewsModel

<div class="modal fade" id="newsdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog custommodal" role="document">
        <div class="modal-content">
            <div class="modal-header customheader">
                <h3><i class="fa fa-search-plus"></i> Nội dung chi tiết tin</h3>
                <button type="button" class="close btnclose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#detail" role="tab" data-toggle="tab">Chi tiết bài đăng</a></li>
                    <li role="presentation"><a href="#image" role="tab" data-toggle="tab">Ảnh chi tiết</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="detail">
                        <div class="row">
                            <div class="col-xs-8 mCustomScrollbar">
                                <h5><strong>Tiêu đề: </strong> @Model.Title</h5>
                                <h5><strong>Nội dung :</strong></h5>
                                <p>
                                    @Html.Raw(@Model.Contents)
                                </p>
                            </div>
                            <div class="col-xs-4 modal-detail-right">
                                <h5><strong>Giá: </strong> <span class="modal-price"> @Model.PriceText</span></h5>
                                <h5><strong>Liên hệ: </strong> @Model.Phone</h5>
                                <h5><strong>Ngày đăng: </strong> @Convert.ToDateTime(Model.CreatedOn).ToString("dd-MM-yyyy")</h5>
                                <h5><strong>Loại tin: </strong> @Model.StatusName</h5>
                                <h5><strong>Danh mục: </strong> @Model.CateName</h5>
                                <h5><strong>Khu vực: </strong> @Model.DistictName</h5>
                                <h5><strong>Nguồn tin: </strong> @(Model.SiteId == 0 ? Html.Raw("<a href='http://ozo.vn' target='_blank'  title='ozo.vn'>ozo.vn</a>") : Html.Raw("<a href='" + Model.Link + "' title='" + Model.SiteName + "' target='_blank' >" + Model.SiteName + "</a>"))</h5>
                                <h6><strong>Người báo tin: </strong></h6>
                                @Model.PersionalReport
                            </div>
                            <div class="col-xs-12">
                                <h5><strong>Tin liên quan:</strong></h5>
                                @if (Model.SameNews.Any())
                                {
                                    foreach (var item in Model.SameNews)
                                    {
                                        <span data-id="@item.Id" class="btnsamenews"><h6>@item.Title (Nguồn: @(Model.SiteId == 0 ? Html.Raw("<a href='http://ozo.vn' target='_blank' title='ozo.vn'>ozo.vn</a>") : Html.Raw("<a href='" + item.Link + "' target='_blank' title='" + item.SiteName + "'>" + item.SiteName + "</a>")))</h6></span>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="image">
                        <div class="row">
                            <div class="col-xs-12 slideimage">
                                <div class="clearfix" style="max-width:730px;">
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                        @if (Model.ListImage.Any())
                                        {
                                            foreach (var item in Model.ListImage)
                                            {
                                                <li data-thumb="@item.ImageUrl">
                                                    <img src="@item.ImageUrl" />
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li data-thumb="~/assets/images/no-image.png">
                                                <center>
                                                    <img src="~/assets/images/no-image.png" />
                                                </center>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-sm-10 btn-modal">
                    <button type="button" class="btn btn-success remove-item-list" data-id="@Model.Id"><i class="fa fa fa-trash-o"></i> Xóa tin đã lưu</button>
                    <button type="button" class="btn btn-primary hide-item-list" data-id="@Model.Id"><i class="fa fa-eye-slash"></i> Ẩn tin</button>
                    @if (!Convert.ToBoolean(ViewBag.User))
                    {
                        <button type="button" class="btn btn-warning spam-item-list" data-id="@Model.Id"><i class="fa fa-exclamation-triangle"></i> Chặn môi giới</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning report-item-list" data-id="@Model.Id"><i class="fa fa-exclamation-triangle"></i> Báo môi giới</button>
                        if (Model.Iscc)
                        {
                            <button type="button" class="btn btn-purple rmiscc-item-list" data-id="@Model.Id"><i class="fa fa-user-secret"></i> Bỏ tin chính chủ</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-purple iscc-item-list btnclose" data-id="@Model.Id"><i class="fa fa-user"></i> Chính chủ</button>
                        }
                    }
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger btnclose">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>