@model CMS.ViewModel.AccountViewModel
@using CMS.Data
@{
    Notify noti = new Notify();
    if (TempData["Notify"] != null)
    {
        noti = (Notify)TempData["Notify"];
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>OZO.VN</title>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <!-- END STYLESHEETS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <!-- text fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!-- ace styles -->
    <link href="~/assets/css/ace.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-rtl.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <!-- Socket js -->
    @*<script src="http://ozo.vn:8010/socket.io/socket.io.js"></script>*@
</head>
<body class="login-layout blur-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center" style="margin-top: 50px;">
                            <h1>
                                @*<i><img style="width: 10%;" src="~/assets/Logo/ozo.png" /></i>
                                <span class="red">OZO.VN</span>*@
                            </h1>
                        </div>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Đăng nhập
                                        </h4>
                                        <div class="space-6"></div>
                                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                        {
                                            @*@Html.AntiForgeryToken()*@
                                            @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                                            <fieldset>
                                                @if (TempData["Error"] != null)
                                                {
                                                    <div class="alert alert-danger message-box ">
                                                        <strong>Lỗi:</strong> @TempData["Error"].ToString()
                                                    </div>
                                                }
                                                @if (TempData["Success"] != null)
                                                {
                                                    <div class="alert alert-success message-box ">
                                                        <strong>Thông báo:</strong> @TempData["Success"].ToString()
                                                    </div>
                                                }
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                                        <i class="ace-icon fa fa-user"></i>
                                                        <span style="color:red">
                                                            @Html.ValidationMessageFor(m => m.UserName)
                                                        </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                                        <i class="ace-icon fa fa-lock"></i>
                                                        <span style="color:red">
                                                            @Html.ValidationMessageFor(m => m.Password)
                                                        </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <input name="@Html.NameFor(m=>m.RememberMe)" type="checkbox" class="ace" value="true" id="Status" @if (ViewBag.RememberMe == true) { <text> checked='checked' </text>            } />
                                                        <span class="lbl"> Nhớ tài khoản</span>
                                                    </label>
                                                    <a href="@Url.Action("ForgotPassword", "Page")" class="elements" style="padding-left: 80px;">
                                                        <span>Quên mật khẩu?</span>
                                                    </a>
                                                    <button type="submit" class="width-40 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Đăng nhập</span>
                                                    </button>
                                                </div>
                                                <div class="clearfix">
                                                    <hr />
                                                    <label>
                                                        Chưa có tài khoản?<a href="@Url.Action("Create", "Account")" class="elements" style="padding-left: 53px;">
                                                            <span>Tạo mới tài khoản</span>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>

                                        }
                                    </div><!-- /.widget-main -->
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->
                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Retrieve Password
                                        </h4>
                                        <div class="space-6"></div>
                                        <p>
                                            Enter your email and to receive instructions
                                        </p>
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <div class="clearfix">
                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Send Me!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->
                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Back to login
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->
                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            New User Registration
                                        </h4>
                                        <div class="space-6"></div>
                                        <p> Enter your details to begin: </p>
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Username" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Repeat password" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>
                                                <label class="block">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl">
                                                        I accept the
                                                        <a href="#">User Agreement</a>
                                                    </span>
                                                </label>
                                                <div class="space-24"></div>
                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Reset</span>
                                                    </button>
                                                    <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">Register</span>
                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Back to login
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->
                        @*<div class="navbar-fixed-top align-right">
                                <br />
                                &nbsp;
                                <a id="btn-login-dark" href="#">Dark</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-blur" href="#">Blur</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-light" href="#">Light</a>
                                &nbsp; &nbsp; &nbsp;
                            </div>*@
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });



        //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });

        });

        $(document).ready(function () {
            //when create account succes and rendirect to login then set flagCreateAccount = true;
            var notifyId = $('#noti-id').val();
            if (notifyId != 0) {
                var notify = {};
                notify.title = $('#noti-title').val();
                //notify id
                notify.id = notifyId;
                notify.type = 1;
                //user name
                notify.name = $('#noti-user-name').val();
                //link image avatar
                notify.avatar = "/assets/avatars/avatar.png";
                notify.time = $('#noti-time').val();
                //connect notify server
                var socket = io.connect('http://ozo.vn:8010');
                socket.emit('send-to-admin', notify);
            }

        });
    </script>

    <input type="hidden" value="@noti.Title" id="noti-title" />
    <input type="hidden" value="@noti.Id" id="noti-id" />
    <input type="hidden" value="@noti.Type" id="noti-type" />
    <input type="hidden" value="@noti.UserName" id="noti-user-name" />
    <input type="hidden" value="@noti.DateSend" id="noti-time" />
</body>
</html>
