@model List<CMS.ViewModel.BlacklistModel>

@if (Model.Count > 0)
{
    var count = 1;
    foreach (var u in Model)
    {
        <tr>
            <td style="text-align:center" >
                <label class="pos-rel">
                    <input type="checkbox" class="checkboxItem" id="@u.Id" />
                </label>
            </td>
            <td style="text-align:center" >@count</td>
            <td>@u.Words</td>
            <td>@u.Description</td>
            <td><a onClick="window.open('@u.LinkUrl');" href="#">@u.LinkUrl </a></td>
        </tr>
        count++;
    }
}